## Implement a program to find the number of patients who are diagnosed with D1.2 and who visited Unit01 within 7 days of the diagnosis date.

In [1]:
import sqlite3
import csv

In [2]:
# Connect to the SQLite database
connection = sqlite3.connect('healthcare.db')
cursor = connection.cursor()

# Create Patients table
create_patient_table = '''
    CREATE TABLE IF NOT EXISTS patient (
        person_id INTEGER PRIMARY KEY,
        date_of_birth DATE,
        gender VARCHAR(50)
        
    )
'''
cursor.execute(create_patient_table)

# Create Doctors table
create_visit_table = '''
    CREATE TABLE IF NOT EXISTS visit (
        unit_name VARCHAR(50),
        visit_id INTEGER PRIMARY KEY,
        visit_date DATE,
        test_name VARCHAR(50),
        test_value VARCHAR(50),
        person_id INTEGER,
        FOREIGN KEY (person_id) REFERENCES patient(person_id)        
    )
'''
cursor.execute(create_visit_table)

# Create Appointments table
create_diagnosis_table = '''
    CREATE TABLE IF NOT EXISTS diagnosis (
        person_id INTEGER,
        diagnosis_date DATE,
        diagnosis_id INTEGER PRIMARY KEY,
        diagnosis VARCHAR(100),
        FOREIGN KEY (person_id) REFERENCES patient(person_id)
    )
'''
cursor.execute(create_diagnosis_table)

In [3]:
with open('./data/patient.csv', 'r') as file:
    contents = csv.reader(file)
    next(contents)  # Skip the header row
    insert_records = "INSERT INTO patient (person_id, date_of_birth, gender) VALUES (?, ?, ?)"
    cursor.executemany(insert_records, contents)


query = '''
    SELECT * FROM patient limit 20
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]

print(columns)

# Print fetched data
results = cursor.fetchall()
for row in results:
    print(row)

['person_id', 'date_of_birth', 'gender']
(10000, '1954-03-17', 'F')
(10001, '1963-01-06', 'F')
(10002, '1961-11-17', 'M')
(10003, '1956-04-24', 'F')
(10004, '1963-07-04', 'F')
(10005, '1955-10-10', 'F')
(10006, '1954-10-20', 'M')
(10007, '1964-12-02', 'F')
(10008, '1976-04-17', 'F')
(10009, '2036-01-20', 'M')
(10010, '1950-06-06', 'M')
(10011, '1952-09-28', 'M')
(10012, '1960-01-10', 'F')
(10013, '1963-04-24', 'F')
(10014, '1962-08-15', 'M')
(10015, '1954-07-16', 'M')
(10016, '1956-05-27', 'F')
(10017, '1962-10-19', 'M')
(10018, '1961-10-07', 'M')
(10019, '1831-10-08', 'F')

In [4]:
with open('./data/visit.csv', 'r') as file:
    contents = csv.reader(file)
    next(contents)  # Skip the header row
    
    insert_records = "INSERT INTO visit (unit_name, visit_id, visit_date, test_name, test_value, person_id) VALUES (?, ?, ?, ?, ?, ?)"
    cursor.executemany(insert_records, contents)


query = '''
    SELECT * FROM visit limit 20
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]

print(columns)

# Print fetched data
results = cursor.fetchall()
for row in results:
    print(row)

['unit_name', 'visit_id', 'visit_date', 'test_name', 'test_value', 'person_id']
('Unit02', 53816, '2021-01-05', 'TestA', '64.10498289901038', 11476)
('Unit01', 54189, '2016-07-18', 'TestC', '68.50659305771454', 11134)
('Unit02', 54406, '2017-07-21', 'TestA', '50.43286273784755', 10154)
('Unit02', 56053, '2019-09-10', 'TestA', '74.35853101901877', 10261)
('Unit02', 56740, '2021-01-20', 'TestA', '39.95834112206191', 11282)
('Unit02', 57441, '2021-01-18', 'TestA', '44.68801528317269', 11146)
('Unit02', 57689, '2017-02-26', 'TestA', '24.25959684927868', 10241)
('Unit01', 59134, '2017-06-27', 'TestC', '27.982603908064952', 11767)
('Unit02', 59732, '2016-02-06', 'TestA', '37.86563166890349', 10573)
('Unit01', 59944, '2016-02-09', 'TestB', '25.06405405440501', 11535)
('Unit01', 61221, '2021-03-29', 'TestC', '97.89064360308261', 10179)
('Unit02', 61760, '2017-05-04', 'TestA', '58.02658865900786', 10635)
('Unit02', 61827, '2019-05-20', 'TestA', '29.25421051737226', 11804)
('Unit01', 62350, '2017-06-28', 'TestB', '39.13828026931093', 11677)
('Unit01', 63197, '2017-06-08', 'TestB', '60.40641014992192', 10685)
('Unit01', 63835, '2017-03-30', 'TestB', '22.35723039982097', 10071)
('Unit02', 66235, '2017-07-10', 'TestA', '84.67387063828215', 10380)
('Unit02', 66565, '2021-01-22', 'TestA', '97.94667004166959', 10850)
('Unit02', 67056, '2021-09-07', 'TestA', '13.934462715787518', 10428)
('Unit02', 67179, '2017-04-28', 'TestA', '26.01524533315626', 11956)

In [5]:
with open('./data/diagnosis.csv', 'r') as file:
    contents = csv.reader(file)
    next(contents)  # Skip the header row
    insert_records = "INSERT INTO diagnosis (person_id, diagnosis_date, diagnosis_id, diagnosis) VALUES (?, ?, ?, ?)"
    cursor.executemany(insert_records, contents)

query = '''
    SELECT * FROM diagnosis limit 20
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]

print(columns)

# Print fetched data
results = cursor.fetchall()
for row in results:
    print(row)

['person_id', 'diagnosis_date', 'diagnosis_id', 'diagnosis']
(10107, '2016-04-06', 54245, 'D1.2')
(10492, '2017-05-18', 54500, 'D1.2')
(11223, '2021-06-24', 58782, 'C1.1')
(10009, '2017-05-24', 59462, 'D1.2')
(10671, '2016-06-21', 62066, 'D1.2')
(10188, '2017-03-05', 63645, 'D1.2')
(10585, '2019-08-06', 65379, 'D1.2')
(10669, '2017-07-01', 68076, 'D1.2')
(10142, '2016-01-31', 68542, 'D1.2')
(10948, '2016-06-13', 68942, 'D1.2')
(10240, '2021-06-30', 73873, 'E1.3')
(11807, '2017-02-12', 74319, 'D1.2')
(11366, '2019-02-22', 79333, 'D1.2')
(11888, '2017-01-16', 80443, 'D1.2')
(10027, '2016-07-02', 80622, 'D1.2')
(11367, '2021-06-11', 82849, 'E1.3')
(10425, '2017-04-02', 86798, 'D1.2')
(10204, '2019-06-05', 87149, 'D1.2')
(11219, '2017-05-06', 94075, 'D1.2')
(10091, '2017-03-09', 96490, 'D1.2')

### Units and the respective count of visits

In [26]:
query = '''
     SELECT v.unit_name, Count(v.visit_id) as count from visit v group by v.unit_name
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]
print(columns)

# Print selected data
results = cursor.fetchall()
for row in results:
    print(row)

['unit_name', 'count']
('Unit01', 3315)
('Unit02', 7564)
('Unit03', 467)

### Diagnosis and the count of patients had that diagnosis

In [22]:
query = '''
     SELECT d.diagnosis, Count(d.person_id) as count from diagnosis d group by d.diagnosis
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]

print(columns)

# Print selected data
results = cursor.fetchall()
for row in results:
    print(row)

['diagnosis', 'count']
('C1.1', 503)
('D1.2', 2782)
('E1.3', 497)

### Count of patients who visited 'Unit01' and had diagnosis 'D1.2'

In [23]:
query = '''
    select count(person_id) as patient_count from visit v where v.unit_name like 'Unit01' and v.person_id in(select distinct d.person_id from diagnosis d where d.diagnosis like 'D1.2')
'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]

print(columns)

# Print selected data
results = cursor.fetchall()
for row in results:
    print(row)

['patient_count']
(2315,)

### The number of patients who are diagnosed with D1.2 and who visited Unit01 within 7 days of the diagnosis date.

In [25]:
query = '''
SELECT COUNT(DISTINCT d.person_id) AS patients
FROM diagnosis d
JOIN visit v ON d.person_id = v.person_id
WHERE d.diagnosis = 'D1.2'
  AND v.unit_name = 'Unit01'
  AND DATE(v.visit_date) BETWEEN DATE(d.diagnosis_date) AND DATE(d.diagnosis_date, '+7 days');'''
cursor.execute(query)

columns = [column[0] for column in cursor.description]
print(columns)

# Print selected data
results = cursor.fetchall()
for row in results:
    print(row)

['patients']
(800,)